NEXT_PUBLIC_GTM_ID=GTM-WLHH8GDQ
NEXT_PUBLIC_STRIPE_PAYMENT_LINK=https://buy.stripe.com/9B628teei9LpgiV2er7EQ00?prefilled_promo_code=WELCOME200
NEXT_PUBLIC_GOOGLE_FORM_URL=https://forms.gle/fDygjqqP1FBeBPJL7
NEXT_PUBLIC_SUPPORT_EMAIL=support@lintelstandard.com
NEXT_PUBLIC_STRIPE_BILLING_PORTAL_URL=
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-QGEJG5P38Z
NEXT_PUBLIC_GOOGLE_ADS_ID=
NEXT_PUBLIC_META_PIXEL_ID=
